<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <%# Website SVG Icon %>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="images/favicon_io/site.webmanifest">

    <%# Title %>
    <title>Life is a joke</title>

    <%# Bootstrap styles link %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <%# CSS Stylesheet %>
    <link rel="stylesheet" href="styles/main.css">

    <%# Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">

    <%# Navbar %>
    <nav class="navbar bg-dark border-bottom border-body">
        <div class="container-fluid">
          <p class="navbar-brand navbar-text">
            <img src="images/favicon_io/apple-touch-icon.png" alt="Logo" width="34" height="34" class="d-inline-block align-text-top navbar-svg">
            Life is a joke
          </p>
        </div>
      </nav>
      

</head>
<body>