
<% if (locals.joke) { %> 
    <div> <%= joke %> </div>
<% } %>

<% if (locals.setup) { %> 
    <div> <%= setup %> </div>
<% } %>

<% if (locals.delivery) { %> 
    <div> <%= delivery %> </div>
<% } %>